.A-popup {
  width: 353px;
  height: 380px;
  background-color: #f2f2f2;
  border-radius: 12px;
  padding: 20px;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.H {
  height: 20px;
}

.popup-header h4 {
  margin-top: -25px;
  margin-left: -30px;
  /* 위로 10px 올림, 숫자 조절 가능 */
  /* 또는 */
  /* position: relative;
     top: -10px; */
}

.popup-header {
  position: relative; // ← 추가!
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 12px;
  border-bottom: 1px solid black;
  padding-bottom: 8px;
}

.close-btn {
  position: absolute;
  top: 0px;
  right: 16px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
  z-index: 10;
}

.poppup-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.form-group {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}

input[type="text"],
textarea,
select {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #f2f2f2;
  font-size: 14px;
  box-sizing: border-box;
  width: 100%;
}

textarea {
  resize: vertical;
  min-height: 60px;
}

.button-row {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.submit-btn {
  margin-top: auto;
  width: 170px;
  height: 40px;
  line-height: 20px;
  background-color: #dddddd;
  color: black;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
}


.toggle-row {
  display: flex;
  flex-direction: row;
  /* 강제로 가로 배치 */
  align-items: center;
  justify-content: space-between;
}

.toggle-label {
  margin: 20px 0px;
  /* 기본 여백 제거 */
}

/* 스위치 */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 20px;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

.switch input:checked+.slider {
  background-color: #4caf50;
}

.switch input:checked+.slider::before {
  transform: translateX(20px);
}