.DailyList-wrapper {
  width: 393px;
  height: 844px;
  margin: 0 auto;
  background-color: #c6d0e0;
  font-family: 'Pretendard', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 135px;
}

.DailyList-page {
  width: 100%;
  height: 100%;
  padding: 0px 20px 60px 20px;
  box-sizing: border-box;
}

.title-block {
  margin-bottom: 20px;
}

.title-block h2 {
  font-size: 20px;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  flex: 1; 

}

p {
  font-size: 14px;
  color: #666666;
  margin-top: 4px;
}

.category {
  position: relative;
  top: -30px;
  right: -270px;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 6px 12px;
  font-size: 14px;
  background-color: #cfd8e6;
  cursor: pointer;
  height: 36px;
}

/* 카테고리 블럭 (박스 O) */
.category-block {
  margin-bottom: 10px;
  background-color: #ffffff;
  padding: 0px 10px;
  border-radius: 6px;
}

/* 체크리스트 아이템 (배경 X) */
.task-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  color: #333333;
  margin-left: 20px;
  margin-bottom: 8px;
  background-color: transparent;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-title {
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 4px;
}

.color-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 4px;
}

.lock {
  font-size: 12px;
  margin-left: 4px;
}

.add-button {
  font-size: 20px;
  font-weight: bold;
  color: #555;
  background: none;
  border: none;
  position: relative;
  top: -7px;
  right: -4px;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: #555;
  cursor: pointer;
}
.overlay {
  position: fixed;
  top: -50px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.date-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 353px;
  max-width: 353px;
}

.current-date {
  font-size: 18px;
  text-align: center;
  flex: 1;
}

.arrow-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 8px;
  width: 30px;
  color: #ffffff;
}
