.friends-container {
  width: 393px;
  height: 844px;
  margin: 0 auto;
  background-color: #c6d0e0;
  font-family: 'Pretendard', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
padding-top: 135px;

}

.search-box {
  display: flex;
  width: 380px;
  height: 70px;
  margin-bottom: 20px;

  position: relative;
  top: -50px;
}

.search-box input {
  flex: 1;
  padding: 8px;
  border-radius: 30px;
  border: 1px solid #000000;
}

.search-box button {
  padding: 8px;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #ccc;
}

.request-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 14px;
  width: 100px;
  height: 36px;
  line-height: 36px;
  border-radius: 15px;
  padding: 0 15px;
  background-color: #4caf50;
  /* 기본 초록 */
  color: white;
  border: none;
  cursor: pointer;
}

.requested-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 100px;
  height: 36px;
  line-height: 36px;
  border-radius: 15px;
  padding: 0 15px;
  background-color: #ddd;
  /* 연한 회색 (기존 .requested-btn 색상 유지) */
  color: #666;
  border: none;

}

.BB {
  width: 370px;
  height: 60px;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
   position: relative;
  top: -50px;
}

.Add-btn {
  float: left;
  width: 170px;
  height: 35px;
  line-height: 35px;
  display: block;
  background: #a1a0a0;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
}

.friends-btn {
  float: right;
  width: 130px;
  height: 35px;
  line-height: 35px;
  display: block;
  background: #3f4a5f;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  
}

.badge {
  background: red;
  color: white;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 12px;
  margin-left: 5px;
}

.friend-card {
  display: flex;
  width: 340px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
   position: relative;
  top: -50px;
}

.friend-card p {
  color: black;
  margin: 0;
  padding: 0 15px;
  height: 36px;
  line-height: 36px;
  font-size: 15px;
  display: flex;
  align-items: center;
  height: 100%;
}

.myfriend-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background: white;
  margin-bottom: 10px;
  border-radius: 15px;
  width: 340px;
}

.accept-btn {
  background: #3f4a5f;
  color: white;
}

.btn-group button {
  margin-left: 5px;
  padding: 6px 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.visit-btn {
  background: #737373;
}

.calendar-btn {
  background: #737373;
  color: white;
}

h2{
   position: relative;
  top: -50px;
}